@keyframes ani {
    0% {width: 25px;
        opacity: 0%;
    }
    100% {width: 450px;
        opacity: 100%;
    }
}

#logo {
    animation-name: ani;
    animation-duration: 5s;
}

body {
    background-image: url("/images/concrete_seamless.png");
    background-color: #f1f1f1;
    font-family: Poppins, serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}
.nav_item {
    color: blue;
}
.nav_item:visited {
    color: blue;
}

.card {
    border-radius: 50px 50px 0px 0px;
    flex: 1 1 450px;
    max-width: 450px;
    }

.card > header {
    background-color: #288088;
    border: solid 2px #288088 ;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    width: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;

}
.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}


@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .pricing {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        max-width: auto;
        flex-basis: 275px;
    }

    body > header {
        position: fixed;
        width: 100%;
    }
}

@media screen and (prefers-reduced-motion:reduce) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font: Arial, Helvetica;
        background-image: none;
    }

    .nav_links {
        display: flex;
        flex: row;
        justify-content: center;
    }

    .pricing {
        flex-direction: row;
        justify-content: center;
        align-content: baseline;
        align-items: none;
        flex-wrap: nowrap;
    }
    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }
    .gallery {
        visibility: hidden;
    }
    #gallery {
        display: none;
    }

    .pricing .card ul li:nth-child(2)::after {
        content: "👍" ;
    }
    
}